<h1>Report for Class <%= school_class.id %></h1>

<table>
  <thead>
  <tr>
    <th>Student Name</th>
    <th>Student Progress</th>
  </tr>
  </thead>

  <tbody>
  <% school_class.students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= "Lesson #{student.lesson_part.lesson_id} Part #{student.lesson_part.part_number}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
